<div class="error_message">
<% if @kimono.errors.any? %>
  <div id="error_explanation", class="alert alert-danger">
    <ul>
      <% @kimono.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
</div>