<link rel="stylesheet" href="devise/shared/error.messages.css">

<div class="error_message">
<% if @item.errors.any? %>
  <div id="error_explanation", class="alert alert-danger">
    <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
</div>