.new-page {
  width: 100vw;
  padding: 2vh 5vw;
  text-align: center;
}

.new-header {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-title {
  font-size: 35px;
  margin-bottom: 40px;
  writing-mode: vertical-rl;
}

.new-form {
  width: 350px;
  margin: 90px auto 90px auto;
}

.field{
  margin-bottom: 40px;
  display: flex;
  justify-content: start;
}

.field-name{
  width: 100px;
  padding-right: 15px;
  display: flex;
  justify-content: start;
}

.img-upload {
  margin-bottom: 40px;
  display: flex;
  justify-content: start;
}

.click-upload {
  max-width: calc(100% - 100px);
  width: 40vw;
  height: 80px;
  font-size: 17px;
  font-family: serif;
}

.pulldown-select {
  max-width: calc(100% - 100px);
  width: 25vw;
  height: 30px;
  font-size: 17px;
  font-family: serif;
}

.search-text {
  max-width: calc(100% - 100px);
  width: 25vw;
  height: 30px;
  font-family: serif;
}

.goods-text {
  width: calc(100% - 100px);
  height: 170px;
  font-family: serif;
  display: flex;
  justify-content: start;
}

.goods-rgbtn {
  width: 15vw;
  min-width: 150px;
  height: 50px;
  margin-top: 70px;
  font-size: 20px;
  font-family: serif;
  background-color: white;
} 
