<h1>
  検索結果
</h1>
<%# 検索結果の個数で条件分岐 %>

  <% @results.each do |result| %>
    <td>
    <br>
    <li>
      <%= image_tag result.image.variant(resize: '300x300'), class: "goods-img" if result.image.attached?%>
      <%= result.kimono_name.name %>
    </li>
  <% end %>

<br>
<%= link_to 'トップページへ戻る', root_path %>