footer {
  width: 100vw;
  height: 250px;
  padding: 2vh 5vw;
  text-align: center;
  position: relative;
}

.line {
  border-top: 2px solid #2e3740;
}


.kimono_logo_footer {
  width: 160px;
  height: 100px;
  object-fit: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}