footer {
  width: 100vw;
  background-color: white;
  height: 250px;
  padding: 2vh 5vw;
  margin-top: auto;
  text-align: center;
  position: relative;
}

.kimono_logo_footer {
  width: 160px;
  height: 100px;
  object-fit: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}