.header{
  width: 100vw;
  height: 20vh;
  padding: 2vh 5vw;
  padding: 25px 25px ;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* background-color: wheat; */
}

.hidden{
  display: none;
}

.logos {
  /* width: 400px; */
  /* height: 100px; */
  display: flex;
  justify-content: flex-end;
  /* border: 1px solid red; */
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.menu-logo{
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
  /* position: relative; */
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
}

.menu-lists{
  height: 200px;
  padding: 15px 20px 15px 20px;
  border: 2px solid #2e3740;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-left: auto;
  margin-right: auto;

  /* position: absolute;
  margin-top: 0;
  margin-right: 0; */
}

/* .now-login-menu, .not-login-menu {
  list-style-type: none;
}

.header_button {
  text-decoration: none;
}

.menu-bar {
  margin: auto 30px;
}  */