.header{
  width: 100vw;
  padding: 2vh 5vw;
}

.header-logo{
  padding: 25px, 25px;
  display: flex;
  justify-content: space-between;
}

.menu-logo{
  width: 70px;
  height: 70px;
}

.hidden{
  display: none;
}